body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ccc;
}

.hero{
    background-image: url(../imagens/bg-2.jpg);
    height: 500px;
    background-size: cover;
    background-position: right center;
    padding-top: 1px;
}

.hero-content{
    margin: 100px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.hero-content h1{
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-content p{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    display: inline-block;
    padding: 16px;
    border-bottom: 2px solid white;
}

.hero nav ul {
    margin: 20px 80px 0 0;
    text-align: right;
}

.hero nav li{
    display: inline-block;
    list-style-type: none;
    border: 1px solid white;
    margin-left: 25px;
}

.hero nav a{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 16px;
    display: block; /* border alinhada ao padding*/
    color: white;
    text-decoration: none; /* sem sublinhado*/
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}

.hero nav a:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

main{
    width: 90%;
    margin: auto;
    max-width: 850px;
}

article{
    background-color: white;
    padding: 16px;
    margin-bottom: 32px; /* margens não se somam*/
    margin-top: 32px;
}

article h2{
    background-color: #eee;
    border-bottom: 2px solid #ccc;
    padding: 10px;
    margin: 0; /* article ja tem padding de 16px*/
}

a.btn{
    background-color: #cdc7c3;
    display: block;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: auto;
    width: fit-content;
}

footer{
    color: white;
    background-color: #6b6c68;
    text-align: center;
    padding: 30px;
    text-shadow: 2px 2px 2px black;
    letter-spacing: 2px;
}